<h4>
    DSCI 552 Homework 4<br>
    Name: Yuhui Zou<br>
    USC ID: 1812969805
<h4>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
import math
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')

<h5>part (a)<h5>

In [2]:
l1 = list(range(1,21))
l2 = list(range(22,16022))
skip_rows = l1+l2
skip_rows = list(range(0,20))
df = pd.read_csv('../data/communities.data',
                na_values='?',
                index_col=None,
                header = None)
#df['class'] = df['class'].astype(str)
train_df = df.head(1495)
test_df = df.iloc[1495:]
#train_df.info(verbose=True)
#display(train_df.dtypes)
display(train_df)
#df[1].isna().sum()
#df[0].max()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.90,0.5,0.32,0.14,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,NaN,NaN,NaN,NaN,0.00,NaN,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.43
3,34,5.0,81440.0,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,NaN,NaN,NaN,NaN,0.00,NaN,0.12
4,42,95.0,6096.0,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,6,NaN,NaN,Hillsboroughtown,8,0.00,0.59,0.01,0.69,1.00,...,0.02,0.14,0.22,NaN,NaN,NaN,NaN,0.00,NaN,0.03
1491,6,NaN,NaN,Orangecity,8,0.16,0.62,0.03,0.74,0.48,...,0.07,0.40,0.14,0.07,0.05,0.85,0.5,0.61,0.19,0.20
1492,13,NaN,NaN,Waycrosscity,8,0.01,0.36,0.95,0.24,0.03,...,0.03,0.12,0.01,NaN,NaN,NaN,NaN,0.00,NaN,0.30
1493,39,85.0,49056.0,Mentorcity,8,0.06,0.53,0.01,0.98,0.05,...,0.08,0.15,0.02,NaN,NaN,NaN,NaN,0.00,NaN,0.03
1494,34,17.0,79610.0,WestNewYorktown,8,0.05,0.43,0.08,0.65,0.12,...,0.00,1.00,1.00,0.00,0.01,0.77,0.0,0.51,0.18,0.23

<h5>part (b)<h5>

In [3]:
# ------------------------data imputation-------------------------------

# fill nan with mean and mode
for i in range(5,128):
    if i!=124:
        train_df[i].fillna((train_df[i].mean()), inplace=True)
    else:
        train_df[i].fillna(train_df[i].mode()[0], inplace=True)
train_df

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,NaN,NaN,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.060000,0.040000,0.900000,0.5,0.32,0.140000,0.20
1,53,NaN,NaN,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.67
2,24,NaN,NaN,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.43
3,34,5.0,81440.0,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.12
4,42,95.0,6096.0,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,6,NaN,NaN,Hillsboroughtown,8,0.00,0.59,0.01,0.69,1.00,...,0.02,0.14,0.22,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.03
1491,6,NaN,NaN,Orangecity,8,0.16,0.62,0.03,0.74,0.48,...,0.07,0.40,0.14,0.070000,0.050000,0.850000,0.5,0.61,0.190000,0.20
1492,13,NaN,NaN,Waycrosscity,8,0.01,0.36,0.95,0.24,0.03,...,0.03,0.12,0.01,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.30
1493,39,85.0,49056.0,Mentorcity,8,0.06,0.53,0.01,0.98,0.05,...,0.08,0.15,0.02,0.163975,0.080502,0.713054,0.0,0.00,0.190753,0.03
1494,34,17.0,79610.0,WestNewYorktown,8,0.05,0.43,0.08,0.65,0.12,...,0.00,1.00,1.00,0.000000,0.010000,0.770000,0.0,0.51,0.180000,0.23

<h5>part (c)<h5>

In [4]:
train_features_df = train_df.iloc[:, 5: 127]
train_features_df.corr()

,5,6,7,8,9,10,11,12,13,14,...,117,118,119,120,121,122,123,124,125,126
5,1.000000,-0.040404,0.242144,-0.306023,0.168868,0.162282,0.014554,0.128721,0.075744,-0.107060,...,0.125115,0.747424,0.235510,0.283682,0.630778,0.591778,-0.063029,0.447388,0.464459,-0.011305
6,-0.040404,1.000000,-0.068374,-0.243565,0.209848,0.473320,0.517742,0.371658,0.301949,-0.606714,...,0.031750,-0.020832,-0.003807,-0.030652,-0.014900,0.004813,-0.024445,-0.064700,-0.086315,-0.021276
7,0.242144,-0.068374,1.000000,-0.793431,-0.104912,-0.069449,0.118272,0.143406,0.125330,0.056381,...,-0.069725,0.155017,0.101270,0.169002,0.142543,0.104193,-0.113466,0.207285,0.257781,0.042346
8,-0.306023,-0.243565,-0.793431,1.000000,-0.270829,-0.436737,-0.189135,-0.258390,-0.175195,0.138619,...,-0.017046,-0.147054,-0.339787,-0.234460,-0.131432,-0.126551,0.077626,-0.240582,-0.272366,-0.029339
9,0.168868,0.209848,-0.104912,-0.270829,1.000000,0.264600,-0.017945,0.106958,0.056442,-0.283709,...,0.153146,0.004790,0.360708,0.274826,-0.023657,0.044584,0.031598,0.121135,0.100653,-0.004045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,0.591778,0.004813,0.104193,-0.126551,0.044584,0.071164,-0.009618,0.017201,0.002304,-0.031643,...,0.104500,0.429176,0.138857,0.180796,0.836614,1.000000,-0.070216,-0.009557,-0.068059,0.297196
123,-0.063029,-0.024445,-0.113466,0.077626,0.031598,0.018398,-0.025210,-0.008902,-0.006311,0.021422,...,0.017528,-0.067853,0.068739,0.028476,-0.118489,-0.070216,1.000000,-0.023653,0.032430,-0.187790
124,0.447388,-0.064700,0.207285,-0.240582,0.121135,0.134702,0.017558,0.090020,0.059866,-0.045694,...,0.086779,0.340549,0.143837,0.136699,0.006214,-0.009557,-0.023653,1.000000,0.626090,-0.028685
125,0.464459,-0.086315,0.257781,-0.272366,0.100653,0.126210,0.012529,0.117998,0.083582,-0.022575,...,-0.013820,0.322885,0.236545,0.209710,-0.058210,-0.068059,0.032430,0.626090,1.000000,0.017402
126,-0.011305,-0.021276,0.042346,-0.029339,-0.004045,0.025112,-0.050001,-0.038149,-0.033481,0.042617,...,0.091250,-0.105834,0.095796,0.105645,0.275048,0.297196,-0.187790,-0.028685,0.017402,1.000000

<h5>part (d)<h5>

In [5]:
from scipy.stats import variation
#train_features_df.loc[train_features_df.apply(pd.to_numeric, errors='coerce').isnull().any(1)]
cv = variation(a=train_features_df, axis = 0,nan_policy='omit')
print(cv)

[2.24035497 0.35568055 1.42840745 0.33010221 1.35864506 1.61155175
 0.36895966 0.29121736 0.50014256 0.4126379  2.03777962 0.64310298
 0.59178015 0.32850413 0.70166309 0.36521238 0.36059479 0.70596967
 0.34530541 0.5404893  0.55789277 0.51965458 0.59914006 0.81809438
 0.61465985 0.67299643 0.48390603 2.34165956 0.7542176  0.6802627
 0.53357484 0.59248158 0.56223657 0.35133284 0.51335798 0.40271409
 0.51620663 0.43252481 0.3992325  0.40392636 0.36026928 0.37377943
 0.31726924 0.3330832  0.33476355 0.3337218  0.32769118 0.34056698
 0.33590549 3.05794111 0.92124172 2.92565627 0.68125847 0.5905958
 0.50490323 0.45759534 1.28785605 1.28575384 1.26515552 1.27005112
 0.28990167 1.45613112 0.73844445 0.76294233 0.36713055 0.31910767
 0.47349663 0.34909278 1.13254668 0.34343842 0.81367482 1.96780859
 0.2680918  0.33601615 1.05447449 0.43793522 0.4706046  0.92245609
 0.84292421 0.85927805 0.88911249 0.88328704 0.63944768 0.56858743
 0.59386077 0.56325403 0.34295011 0.41536262 0.47004969 3.46979109
 4.29148699 1.06552319 0.33613242 0.33440688 0.31865142 0.29833425
 0.8218551  0.29124245 0.06426635 0.24580437 0.68141482 0.31080434
 0.22577148 0.29124245 0.13480772 0.1227721  0.43954987 0.5896982
 0.80367906 0.35172774 0.67680196 0.14433383 0.29399054 1.64485746
 0.86421002 1.39664242 0.53722914 0.7432379  0.11570017 3.22603808
 2.55209154 0.32591655]

<h5>part (e)<h5>

In [ ]:
number_of_feature = 11
indices = list(np.argsort(cv)[-11:])
temp = [x+5 for x in indices]
temp.append(127)
df_draw = train_df[temp]
df_draw
#seaborn.pairplot(df_draw,hue=127)
#plt.show()

In [ ]:
train_df

<h5>part (d) i)<h5>

<h5>part (d) ii)<h5>

<h5>part (d) iii)<h5>

<h5>ISLR 3.7.4<h5>

<h5>ISLR 4.7.3<h5>

<h5>ISLR 4.7.7<h5>